<div class="family bg-white flex flex-col items-center justify-center">
    <div class="max-w-md w-full text-center px-4">
        <img src="../../../../assets/images/logo-family.png" alt="CreSentia Logo" class="mx-auto w-20 h-20 mb-6">
        <h1 class="text-2xl font-bold mb-6">
            Cuéntame, <br>
            con qué <span class="text-pink-500">team</span> inicias <br>
            tu proceso
        </h1>
        <div class="space-y-4">
            <button class="bg-yellow hover:bg-yellow-hover text-black py-3 px-6 rounded-lg w-full md:w-80">Para mi :)</button>
            <button class="bg-green-family hover:bg-green-family-hover text-black py-3 px-6 rounded-lg w-full md:w-80">Para mi hijo/hija</button>
        </div>
        <footer class="mt-8 text-sm text-gray-400">
            Dale Sentido a tu Vida
        </footer>
    </div>
</div>
