<div class="py-24 sm:py-32 section1">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-pink">Las bases de</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Metodo CreSentia</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-12 w-12 items-center justify-center rounded-lg bg-pink">
                <i class="fa-solid fa-lightbulb text-white text-xl"></i>
            </div>
            Método
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Cientificamente Validado</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-12 w-12 items-center justify-center rounded-lg bg-pink">
                <i class="fa-solid fa-brain text-white text-xl"></i>
            </div>
            Combinación

          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Ciencia del comportamineto.<br>Vínculo Terapéutico.<br>Experiencias digitales.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-12 w-12 items-center justify-center rounded-lg bg-pink">
                <i class="fa-solid fa-people-group text-white text-xl"></i>
            </div>
            Equipo de Terapeutas Especializado
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">En problemas de Salud</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-12 w-12 items-center justify-center rounded-lg bg-pink">
                <i class="fa-solid fa-book-open-reader text-white text-xl"></i>
            </div>
            Formación
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Psicología clínica y conductual</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
