<div class="register flex items-center justify-center bg-gray-100 h-screen">
  <div class="text-center">
    <h2 class="text-3xl font-bold mb-8">¿Cómo quieres comenzar?</h2>
    <div class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4">
      <button class="w-64 py-2 text-white bg-blue hover:bg-blue-hover rounded-lg shadow-md">Adulto</button>
      <button class="w-64 py-2 text-white bg-green hover:bg-green-hover rounded-lg shadow-md">Familia</button>
      <button class="w-64 py-2 text-white bg-pink hover:bg-pink-hover rounded-lg shadow-md">Terapeuta</button>
    </div>
  </div>
</div>
