<div class="banner">
  <div class="title">
    <h1>Descubre el Poder de tu propio progreso</h1>
    <h2>Acompañamiento terapéutico 24/7</h2>
  </div>
  
  <div class="cards">
    <div class="card">
      <div class="images">
        <img src="../../../assets/images/adults.png" alt="Adultos">
      </div>
      <div class="content">
        <h5>Adultos</h5>
        <p>Herramientas innovadoras para adultos que buscan equilibrio entre tecnología y bienestar.</p>
        <button routerLink="/adults" class="bg-blue hover:bg-blue-hover">Empezar</button>
      </div>
    </div>
  
    <div class="card">
      <div class="images">
        <img src="../../../assets/images/family.png" alt="Familia">
      </div>
      <div class="content">
        <h5>Familia</h5>
        <p>Apoya a cada miembro de tu familia con nuestra solución integral de bienestar.</p>
        <button routerLink="/family" class="bg-green hover:bg-green-hover">Empezar</button>
      </div>
    </div>
  
    <div class="card">
      <div class="images">
        <img src="../../../assets/images/therapist.png" alt="Soy Terapeuta">
      </div>
      <div class="content">
        <h5>Soy Terapeuta</h5>
        <p>Optimiza tu tiempo y enfócate en apoyar a tus consultantes con nuestras herramientas.</p>
        <button routerLink="/therapist" class="bg-pink hover:bg-pink-hover">Empezar</button>
      </div>
    </div>
  </div>
</div>
