<div class="banner">
  <div class="title">
    <h1>Descubre el Poder de tu propio <br> progreso</h1>
    <h2>Acompañamiento terapéutico 24/7</h2>
  </div>
  
  <div class="cards">
    <div class="bg-white max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <img class="rounded-t-lg w-1/2 h-60 m-auto" src="../../../assets/images/adults.png" alt="" />
      </a>
      <div class="p-5 text-center">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Adultos</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Encuentra el apoyo emocional y profesional que necesitas para tu crecimiento personal.</p>
          <button routerLink="/adults" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue rounded-lg hover:bg-blue-hover focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Empezar
          </button>
      </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <img class="rounded-t-lg w-80 h-60 m-auto rounded-full" src="https://www.saludcastillayleon.es/sanidad/cm/ventanafamilias/images?locale=es_ES&idMmedia=1313629" alt="" />
      </a>
      <div class="p-5 text-center">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Familia</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Fortalece los lazos familiares y resuelve conflictos con orientación profesional.</p>
          <button routerLink="/family" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green rounded-lg hover:bg-green-hover focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Empezar
          </button>
      </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <img class="images rounded-t-lg w-1/2 h-60 object-cover m-auto" src="../../../assets/images/therapist.png" alt="" />
      </a>
      <div class="p-5 text-center">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Soy Terapeuta</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Únete a nuestra red de profesionales y ayuda a otros a encontrar su camino.</p>
          <button routerLink="/therapist" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pink rounded-lg hover:bg-pink-hover focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Empezar
          </button>
      </div>
    </div>
  </div>
</div>
