<div class="welcome">
  <div class="btn-container">
    <button class="btn-regresar inline-flex items-center rounded-md bg-white px-2 py-1 text-xs
font-medium text-black ring-1 ring-inset ring-black ">Regresar</button>
  </div>

  <div class="outer">
    <div class="inner">
      <p>
        Hola
      </p>
      <p>
        Gracias por estar aquí.
      </p>
      <p>¿Te parece si nos conocemos un poco mejor?</p>

    </div>
    <button class="btn-empezar inline-flex items-center rounded-md  px-2 py-1 text-xl
      font-medium text-black ring-1 ring-inset ring-pink "> Dale,vamos a delante</button>

  </div>
</div>