<div class="content font-Ponpis">
  <div class="btn-container">
    <button routerLink="/" class="btn-regresar inline-flex items-center rounded-md bg-white px-2 py-1 m-9
      font-medium text-black ring-1 ring-inset ring-black "><i class="fa-solid fa-arrow-left"></i></button>
  </div>
  <div class="welcome">
    <div class="container">
      <div class="inner">
        <p><strong>Hola <i class="fa-solid fa-heart icon-animate"></i></strong></p> 
        <p>Gracias por estar aquí<br>¿Te parece si nos conocemos un poco mejor?</p>
        <button routerLink="/user-profile" class="btn-empezar rounded-md  px-3 py-2 text-xl
        font-medium text-black ring-1 ring-inset ring-pink "> Dale,vamos a delante</button>
      </div>
    </div>
  </div>
</div>



